<%- include ("../partials/header") %>

<div class="container">
    <header class="jumbotron">
        <h1>Welcome to YeplCamp!</h1>
        <p>Discover the world camping!</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a new campground</a>
        </p>
    </header>
    
    <div class="row mb-5">
        <div class="col-12">
            <p>Discover our most popular sites</p>
        </div>

        <% campgrounds.forEach(function(campground){ %>
            <div class="col-sm-6 col-md-3 px-1">
                <div class="card indexcampgrounds text-center">
                    <img class="card-img-top img-fluid" src="<%= campground.image %>" alt="camping photo">
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title mb-auto"><%= campground.name %></h4>
                        <a href="/campgrounds/<%= campground.id %>" class="btn btn-primary mt-3">More info</a>
                    </div>
                </div>
            </div>
        <% }) %>

    </div>

</div>


<%- include ("../partials/footer") %>